@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: linear-gradient(to top, #007acc 0%, #000 13%); /* 0.90turn */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    word-wrap: break-word;
}
.main_logo {
    border-radius: 50%;
    border: 3px solid #fff;
}
.subtitle {
    font-weight: 900;
}
a {
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 9px 0px 9px 0px;
    width: 100%;
    text-decoration: none;
}
a img {
    height: 16px;
    vertical-align: middle;
}
.tv img {
    border-radius: 50%;
}
.yt {
    background: linear-gradient(to right, #f00, #b30000);
}
.fb {
    background: linear-gradient(to right, #0866ff, #0044b3);
}
.ig {
    background: linear-gradient(to right, #ffc900, #fe007e);
}
.tw, .gh {
    background: linear-gradient(to right, #000, #222);
}
.tv, .ml {
    background: linear-gradient(to right, #9046ff, #5c00e6);
}
.wa {
    background: linear-gradient(to right, rgb(33, 196, 0), rgb(4, 126, 0));
}
.dc {
    background: linear-gradient(to right, rgb(88, 101, 242), rgb(43, 61, 255));
}
.gh img {
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
}
.dc img {
    background: #fff;
    width: 16px;
    height: 16px;
    object-fit: contain;
    border-radius: 50%;
}
.bg {
    background: linear-gradient(to right, #ffc900, #ffbb00);
}
@media only screen and (max-width: 767px) {
    a {
        width: 80%; 
    }
}
@media only screen and (min-width: 768px) {
    a {
        width: 40%;
    }
}
